<!-- <div class="w-full text-center text-3xl font-bold underline mt-7 text-white">
    {{pickedFood}}
</div>  -->
<div class="h-12"></div>

<div class="grid grid-cols-3 gap-4 mt-10" style="z-index: 20;">
    <div class="px-7 pt-10 text-center">
        <span class="daytitle text-white mb-2 text-2xl">Gestern</span>
        <div class="box yesterday">
            {{randomFood()}}
        </div>
    </div>
    <div class="text-center">
        <span class="daytitle text-white mb-2 text-2xl">Heute</span>
        <div class="box today">
            {{randomFood()}}
        </div>
    </div>
    <div class="px-7 pt-10 text-center" style="z-index: 20;">
        <span class="daytitle text-white mb-2 text-2xl">Morgen</span>
        <div class="box tommorow">
            {{randomFood()}}
        </div>
    </div>
</div>