@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cuprum&display=swap');

.heading {
    font-family: 'Acme', sans-serif;
}

.text {
    font-family: 'Cuprum', sans-serif;
}

.tentacle01 {
    position: absolute;
    width: 10rem;
    right: 0;
    top: 10rem;
    z-index: 10;
}

.tentacle02 {
    position: absolute;
    width: 10rem;
    left: 0;
    top: 57rem;
    z-index: 10;
}

@media only screen and (min-width: 768px) {
    .tentacle01 {
        top: 2rem;
        width: 16rem;
    }
    
    .tentacle02 {
        top: 22rem;
        width: 16rem;
    }
}